/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital@0;1&display=swap");

/* VARIABLE CSS */
:root {
  --header-height: 3.5rem;

  /* COLOR */
  /* HSL(hue, saturation, lightness) */
  --black-color: #000000;
  --blue-color-lighten: hsl(220, 58%, 44%);
  --white-color: #fff;
  --body-color: hsl(220, 100%, 97%);

  /* Font and typography */
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --normal-font-size: 0.938rem;

  /* Font weight */
  --font-regular: 400;
  --font-semi-bold: 600;

  /* z index */
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
  }
}

/* BASE */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* REUSABLE CSS CLASSES */
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

/*  hero section */

.herosection {
  width: 100%;
  height: 100vb;
  background-image: url(../images/yadikabg.webp);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10%;
  padding: 3rem;
}

.judul_h3 {
  background-color: #1869b9;
  font-family: "Montserrat", sans-serif;
  color: white;
  margin-right: 70%;
  text-align: center;
  font-size: 1rem;
  padding: 1rem;
  text-transform: uppercase;
}

.judul_h1 {
  font-size: 3.5rem;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.judul {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 2rem;
  margin-top: 10rem;
}

.div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.div_box {
  width: 30%;
  height: 100%;
  padding: 1rem;
  gap: 1rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 11px 11px 11px 11px;
  -webkit-border-radius: 11px 11px 11px 11px;
  -moz-border-radius: 11px 11px 11px 11px;
  transition-duration: 300ms;
}

.div_box:hover {
  transition: 0.5;
  transform: scale(1.1) translate(-10px, -13px);
  -webkit-transform: scale(1.1) translate(-10px, -13px);
  -moz-transform: scale(1.1) translate(-10px, -13px);
}

.div_box h1 {
  font-weight: bold;
  text-transform: capitalize;
}

.div_box p {
  text-align: center;
}

/* Responsive styles for phone devices */
@media screen and (max-width: 768px) {
  .herosection {
    padding: 2rem;
    height: auto;
    min-height: 100vh;
  }

  .judul_h3 {
    margin-right: 0;
    font-size: 16px;
    padding: 0.5rem;
  }

  .judul_h1 {
    font-size: 30px;
  }

  .judul {
    margin: 1rem;
    margin-top: 5rem;
    gap: 20px;
  }

  .div {
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
  }

  .div_box {
    width: 100%;

    margin-bottom: 1rem;
  }

  .div_box:hover {
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
  }
}
